# This folder does not require access over HTTP
# (the following directive denies access by default)

Options All -Indexes

DirectoryIndex index.php index.html

#bloquea ciertas ips
# Deny from xxx.xxx.xxx.xxx

<IfModule mod_headers.c>
	RequestHeader unset Proxy
</IfModule>

Header always append X-Frame-Options SAMEORIGIN

#quita la extension
#RewriteEngine On
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule ^([^.]+)$ $1.php [NC,L]

#redirige la pagina de error
#ErrorDocument 404 /404.html
#ErrorDocument 404 /error.php